<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/login.js"></script>
</head>
<body>
    <div class="login-page">
        <div class="form">
          <form class="login-form">
            <input id="userId" type="text" placeholder="아이디"/>
            <input id="userPwd" type="password" placeholder="비밀번호"/>
            <button id="loginBtn" type="button">로그인</button>
            <p class="message">회원가입 안하셨나요? <a href="/register">회원가입</a></p>
          </form>
        </div>
      </div>
</body>
</html>

<!--Copyright (c) 2022 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy)-->